@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* :root {
  --linear-grad: linear-gradient(to right, #c03535, #ff4b4b);
  --grad-clr1: #c03535;
  --grad-clr2: #ff4b4b;
} */

body {
  height: 100vh;
  background: #f6f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  width: 850px;
  max-width: 100%;
  height: 500px;
  background-color: #FFF;
  box-shadow: 25px 30px 55px #5557;
  border-radius: 13px;
  overflow: hidden;
  z-index: 1; /* Add this line to ensure forms appear above the glowing background */
}

.glow-container {
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: 0; /* Add this line to position the glow background behind other content */
  --un-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--un-bg-opacity));
}

.ball {
  --delay: 0s;
  --size: 0.4;
  --speed: 20s;
  aspect-ratio: 1;
  width: calc(150% * var(--size));
  background: linear-gradient(259.53deg, #0A3FFF 6.53%, #F55F0A 95.34%);
  filter: blur(10vw);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: loop var(--speed) infinite linear;
  animation-delay: var(--delay);
  transform-origin: 50% 50%;
  opacity: 0.6;
}

@keyframes loop {
  0% {
    transform: translate3D(0%, 51%, 0) rotate(0deg);
  }
  5% {
    transform: translate3D(8%, 31%, 0) rotate(18deg);
  }
  10% {
    transform: translate3D(22%, 13%, 0) rotate(36deg);
  }
  15% {
    transform: translate3D(40%, 2%, 0) rotate(54deg);
  }
  20% {
    transform: translate3D(46%, 21%, 0) rotate(72deg);
  }
  25% {
    transform: translate3D(50%, 47%, 0) rotate(90deg);
  }
  30% {
    transform: translate3D(53%, 80%, 0) rotate(108deg);
  }
  35% {
    transform: translate3D(59%, 98%, 0) rotate(125deg);
  }
  40% {
    transform: translate3D(84%, 89%, 0) rotate(144deg);
  }
  45% {
    transform: translate3D(92%, 68%, 0) rotate(162deg);
  }
  50% {
    transform: translate3D(99%, 47%, 0) rotate(180deg);
  }
  55% {
    transform: translate3D(97%, 21%, 0) rotate(198deg);
  }
  60% {
    transform: translate3D(80%, 7%, 0) rotate(216deg);
  }
  65% {
    transform: translate3D(68%, 25%, 0) rotate(234deg);
  }
  70% {
    transform: translate3D(59%, 41%, 0) rotate(251deg);
  }
  75% {
    transform: translate3D(50%, 63%, 0) rotate(270deg);
  }
  80% {
    transform: translate3D(38%, 78%, 0) rotate(288deg);
  }
  85% {
    transform: translate3D(21%, 92%, 0) rotate(306deg);
  }
  90% {
    transform: translate3D(3%, 79%, 0) rotate(324deg);
  }
  100% {
    transform: translate3D(0%, 51%, 0) rotate(360deg);
  }
}

.form-container {
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 0px 40px;
  transition: all 0.6s ease-in-out;
}

.sign-up-container {
  opacity: 0;
  z-index: 1;
}

.sign-in-container {
  z-index: 2;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

h1 {
  color: #333;
}

.social-container {
  margin: 20px 0px;
}

.social-container a {
  border: 1px solid #DDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  height: 40px;
  width: 40px;
}

/* span {
  font-size: 12px;
} */

.infield {
  position: relative;
  margin: 8px 0px;
  width: 100%;
}

input {
  width: 100%;
  padding: 12px 15px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}

label {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: var(--linear-grad);
  transition: width 0.3s ease;
}

input:focus ~ label {
  width: 100%;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0px;
}

a.forgot {
  padding-bottom: 3px;
  border-bottom: 2px solid #EEE;
}

button {
  border-radius: 20px;
  border: 1px solid var(--grad-clr1);
  background: var(--grad-clr2);
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-container button {
  margin-top: 17px;
  transition: 80ms ease-in;
  border: 1px solid black;
}

.form-container button:hover {
  background: #FFF;
  cursor: pointer;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 9;
  background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#overlayBtn {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 304px;
  transform: translateX(-50%);
  width: 143.67px;
  height: 40px;
  border: 1px solid black;
  background: transparent;
  border-radius: 20px;
}

.overlay {
  position: relative;
  background: var(--linear-grad);
  color: #FFF;
  left: -150%;
  height: 100%;
  width: 250%;
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  height: 100%;
  width: 340px;
  transition: 0.6s ease-in-out;
}

.overlay-left {
  right: 60%;
  transform: translateX(-12%);
}

.overlay-right {
  right: 0;
  transform: translateX(0%);
  color: black;
}

.overlay-panel h1 {
  color: black;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 25px 0px 35px;
  color: black;
}

.overlay-panel button {
  border: none;
  background-color: transparent;
}

.right-panel-active .overlay-container {
  transform: translateX(-150%);
}

.right-panel-active .overlay {
  transform: translateX(50%);
}

.right-panel-active .overlay-left {
  transform: translateX(25%);
}

.right-panel-active .overlay-right {
  transform: translateX(35%);
}

.right-panel-active .sign-in-container {
  transform: translateX(20%);
  opacity: 0;
}

.right-panel-active .sign-up-container {
  transform: translateX(66.7%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 50% {
    opacity: 0;
    z-index: 1;
  }
  50.1%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.btnScaled {
  animation: scaleBtn 0.6s;
}

@keyframes scaleBtn {
  0% {
    width: 143.67px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 143.67px;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  text-align: center;
  animation: fadeIn 0.3s ease-out forwards;
}

.popup p {
  margin: 0;
  padding-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.popup button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #ff4b4b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #e03e3e;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.hidden {
  display: none;
  width: 50%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    box-shadow: none;
    flex-direction: column;
  }

  .overlay-container {
    display: none;
  }

  .hidden {
    display: block;
    position: relative;
        left: 26%;
  }

  #signInForm {
    display: flex; /* Ensure sign-in form is always displayed */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #signUpForm {
    display: none; /* Initially hide the sign-up form */
  }

  .right-panel-active #signInForm {
    display: none; /* Hide sign-in form when the sign-up button is clicked */
  }

  .right-panel-active #signUpForm {
    display: flex; /* Display the sign-up form when the sign-up button is clicked */
  }

  .form-container, .overlay-container {
    width: 100%;
    position: static;
    transform: none;
  }

  .overlay {
    display: none;
  }

  .right-panel-active .overlay-container, .right-panel-active .overlay {
    transform: none;
  }

  .right-panel-active .sign-in-container, .right-panel-active .sign-up-container {
    transform: none;
    opacity: 1;
  }

  .form-container {
    padding: 20px;
  }

  .infield {
    margin: 10px 0;
  }

  button {
    width: 72%;
    padding: 12px;
    font-size: 14px;
  }

  
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  button {
    padding: 10px;
    font-size: 12px;
  }

  .social-container a {
    margin: 0 3px;
    height: 35px;
    width: 35px;
  }
}



 /* Homepage Css */

 .container2 {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logout {
  background-color: #ff4a4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#logout:hover {
  background-color: #d13f3f;
}

#user-name {

}